debian/debhelper-build-stamp
debian/files
debian/libqcef-dev.debhelper.log
debian/libqcef-dev.substvars
debian/libqcef-dev/
debian/libqcef.debhelper.log
debian/libqcef.substvars
debian/libqcef/
obj-x86-linux-gnu/
obj-x86_64-linux-gnu/
debian/tmp/
debian/.debhelper/
