cmake-build-debug/
cmake-build-release/
debian/debhelper-build-stamp
debian/files
debian/libqcef-dev.debhelper.log
debian/libqcef-dev.substvars
debian/libqcef-dev/
debian/libqcef1.debhelper.log
debian/libqcef1.substvars
debian/libqcef1/
obj-x86-linux-gnu/
obj-x86_64-linux-gnu/
obj-mips64el-linux-gnuabi64/
debian/tmp/
debian/.debhelper/
build/
*.user
.idea/
