#!/usr/bin/make -f
export QT_SELECT=qt5

DH_AUTO_ARGS = --parallel --buildsystem=cmake

%:
	dh $@ --parallel

# Override qcef exe path to /usr/lib/qcef.
override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release \
		-DQCEF_OVERRIDE_PATH=/usr/lib/qcef

override_dh_auto_build:
	dh_auto_build -- qcef

# chrome-sandbox requires SUID attribute.
override_dh_fixperms:
	dh_fixperms --exclude chrome-sandbox

override_dh_strip:
	dh_strip -Xcef
